* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

main {
  margin: 5vh 25vw;
}

#main-header {
  margin: 50px 0 25px 0;
}
#tertiary-header {
  margin-bottom: 25px;
}
main button {
  padding: 10px;
}

.btn-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

#start-btn {
  margin: auto;
}
#start-p, #main-header {
  text-align: center;
}
#start-p {
  margin-bottom: 25px;
}
.btn {
  width: 150px;
  margin: 5px 0;
  background-color:rgb(3, 3, 121);
  color: white;
  border-radius: 10px;
}

.form-input {
  margin: 0 5px;
  padding: 7px;
}
.feedback-text {
  border-top: solid;
  border-color: lightgrey;
  margin: 25px 0;
  padding-top: 7px;
  text-align: left;
  font-style:italic;
  color: lightgrey;
}