* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

main {
  margin: 5vh 25vw;
}

main h1 {
  margin: 25px 0;
}

main button {
  padding: 10px;
}

.btn-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

.btn {
  width: 150px;
  margin: 5px 0;
  background-color:rgb(3, 3, 121);
}

.feedback-text {
  border-top: solid;
  border-color: lightgrey;
  margin: 25px 0;
  padding-top: 7px;
  text-align: left;
  font-style:italic;
  color: lightgrey;
}